.container_chat_window {
  display: flex;
  height: 80vh;
  width: 100%;

  .container_chat {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;

    .inner_container_chat {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 2rem;
      border: 1px solid #ddd;
      border-radius: 6px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
      overflow: hidden;
    }

    .container_chat_messages {
      flex: 1;
      overflow-y: auto;
      padding: 1rem;
      .chat_message {
        padding: 0.5rem 1rem;
      }
    }

    .container_chat_input {
      padding: 1rem;
      border-top: 1px solid #eee;
      .chat_input {
        display: flex;
        gap: 8px;
        height: 100%;
        align-items: center;
      }
    }
  }

  .container_chat_response {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    .container_suggested_movies {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;
      align-items: start;
    }
  }
}
