
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container_movies_title {
  padding: 1rem;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.container_movies_filters {
  padding: 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.movies_filters {
  display: flex;
  align-items: center;
}

.container_filter_rate {
  flex: 1;
}

.slider_rate {
  padding: 2rem;
  width: 75%;
}

.container_filters_genre {
  flex: 2;
  padding: 2rem;
}

.genre_chip {
  background-color: black;
  color: white;
}

.container_movies_display {
  width: 90%;
  align-self: center;
  padding: 1rem;
  background-color: #fafafa;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 2.5rem;
  height: auto;
  overflow: visible; /* Allows the card to grow outside its box */
}

.display {
  display: flex;
  justify-content: end;
}

.display > button {
  padding: .5em;
  align-items: center;
  background: white !important;
  border: 1px solid #fff;
  display: flex;
  border-color: black;
}

.display button:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.display button.active {
  background: white;
}

.display button img {
  width: 16px;
  height: 16px;
}