.container_grid {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: .7rem;
    height: auto;
    overflow: visible; /* Allows the card to grow outside its box */
    padding: 1rem;
  }
}
