.container_movies_filters {
  padding: 1rem;

  .movies_filters {
    display: flex;
    align-items: center;
  }

  .container_filter_rate {
    flex: 1;
    .slider_rate {
      padding: 2rem;
      width: 75%;
    }  
  }

  .container_filters_genre {
    flex: 2;
    padding: 2rem;
    .genre_chip {
      background-color: black;
      color: white;
    }
  }
}







